body{
    margin: 0;
    overflow:hidden;
}

#section1{
    position: absolute;
    border: 5px solid black;
    width: 98%;
    height: 47.5%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#section2{
    position: absolute;
    border-bottom: 5px solid gray;
    width: 98%;
    height: 47.5%;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}
.div1{
    background-color: red;
    width: 50%;
    height: 50%;
}

.div2{
    background-color: green;
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.div3{
    background-color: yellow;
    width: 50%;
    height: 50%;
}

.div4{
    background-color: deeppink;
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cirle1{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    left:0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: auto;
}
.cirle2{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.cirle3{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    left:0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: auto;
}
.cirle4{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sqaure1{
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.sqaure2{
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.sqaure3{
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.sqaure4{
    background-color: red;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.centersqaure{
    background-color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 46.5%;
    top: 33%;
    margin: auto;

}

.centercircle{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.leftConer{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: -3%;
    top: -17%;
    margin: auto;
}

.rightConer{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    right: -5%;
    top: -31%;
    margin: auto;
}

.leftBottomConer{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: -3%;
    bottom: -17%;
    margin: auto;
}

.rightBottomConer{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    right: -5%;
    bottom: -40%;
    margin: auto;
}

.centerConertop{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -19%;
    left: 46%;
    margin: auto;
}

.centerConerbottom{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    bottom: -18%;
    left: 46%;
    margin: auto;
}